{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm mt-5">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Iniciar Sesión</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-dark w-100 mt-3">Ingresar al Sistema</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}